<h1>The Monarch UI Library</h1>

<!--
<h2>Why <em>Monarch</em>?</h2>
<p>Unlike a UI library that comes out of the box with a theme and set of components, Monarch is a foundation from which organizations can customize and build their own design systems.</p>
-->

<!--
<p>Monarch is designed to be a foundation from which complex design systems can be built upon.</p>

<h2>Code Design Principles</h2>

<h5>No shorthands in the naming conventions.</h5>
<p>A button is a <code>.button</code> and never <code>.btn</code>. A column is <code>.column</code> and never <code>.col</code> and so on. Use your words &amp; reduce code complexity.</p>

<h5>Focus on a small set of memorable naming conventions.</h5>
<p>Monarch implements <mark>.major</mark> and <mark>.minor</mark> class variations as a convention.</p>
-->